In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("/home/shared/sp18-is590dv/data/chicago-library-data/libraries-2011-circulation-by-location-1.csv",
                index_col = "LOCATION")
df.drop(columns=["ADDRESS", "CITY", "ZIP CODE", "ZIP", "ZIPCODE", "YTD"], errors="ignore", inplace=True)

In [27]:
df = df.transpose()

In [29]:
df.head()

LOCATION,Albany Park,Altgeld,Archer Heights,Austin,Austin-Irving,Avalon,Back of the Yards,Beverly,Bezazian,Blackstone,...,West Englewood,West Lawn,West Pullman,West Town,"Whitney M. Young, Jr.",Woodson Regional,Wrightwood-Ashburn,Online Renewals,Talking Books,eBooks/Downloadable Media
JANUARY,8427,1258,8104,1755,12593,5664,5485,8049,8875,9351,...,1522,7606,3312,9030,2588,10564,3062,127858,9454,13841
FEBRUARY,7023,708,6899,1316,11791,4367,5171,7473,7424,7938,...,1422,6076,2713,7727,2033,8874,2780,117531,8163,11974
MARCH,9702,854,9329,1942,14807,5937,6024,9239,10887,10687,...,1878,8552,3495,10450,3099,10948,3334,146967,11139,14228
APRIL,9344,804,9124,2200,14382,5980,6592,9449,11298,10760,...,1975,8896,3550,10607,3087,9299,3279,142510,10623,14158
MAY,8865,816,7472,2133,11754,5596,5170,8299,11739,9879,...,1724,7313,3010,10139,3005,9025,3036,145686,7431,15176

In [31]:
df.set_index(pd.date_range("2011-01-31", "2011-12-31", freq="M"), inplace=True)

In [32]:
df.head()

LOCATION,Albany Park,Altgeld,Archer Heights,Austin,Austin-Irving,Avalon,Back of the Yards,Beverly,Bezazian,Blackstone,...,West Englewood,West Lawn,West Pullman,West Town,"Whitney M. Young, Jr.",Woodson Regional,Wrightwood-Ashburn,Online Renewals,Talking Books,eBooks/Downloadable Media
2011-01-31,8427,1258,8104,1755,12593,5664,5485,8049,8875,9351,...,1522,7606,3312,9030,2588,10564,3062,127858,9454,13841
2011-02-28,7023,708,6899,1316,11791,4367,5171,7473,7424,7938,...,1422,6076,2713,7727,2033,8874,2780,117531,8163,11974
2011-03-31,9702,854,9329,1942,14807,5937,6024,9239,10887,10687,...,1878,8552,3495,10450,3099,10948,3334,146967,11139,14228
2011-04-30,9344,804,9124,2200,14382,5980,6592,9449,11298,10760,...,1975,8896,3550,10607,3087,9299,3279,142510,10623,14158
2011-05-31,8865,816,7472,2133,11754,5596,5170,8299,11739,9879,...,1724,7313,3010,10139,3005,9025,3036,145686,7431,15176

In [33]:
df2 = pd.read_csv("/home/shared/sp18-is590dv/data/chicago-library-data/libraries-2012-circulation-by-location-1.csv",
                index_col = "LOCATION")
df2.drop(columns=["ADDRESS", "CITY", "ZIP CODE", "ZIP", "ZIPCODE", "YTD"], errors="ignore", inplace=True)
df2 = df2.transpose()
df2.set_index(pd.date_range("2012-01-31", "2012-12-31", freq="M"), inplace=True)

In [34]:
df2.head()

LOCATION,Albany Park,Altgeld,Archer Heights,Austin,Austin-Irving,Avalon,Beverly,Bezazian,Blackstone,Brainerd,...,Water Works,West Belmont,West Chicago Avenue,West Englewood,West Lawn,West Pullman,West Town,"Whitney M. Young, Jr.",Woodson Regional,Wrightwood-Ashburn
2012-01-31,10173,674,7855,2120,12495,5515,7375,14238,10487,1042,...,3723,9975,1675,1712,7724,2973,9498,3175,11284,3211
2012-02-29,9737,513,7682,1964,12977,5290,7477,13819,10675,942,...,3573,10621,1336,1721,7338,2862,9927,3078,9742,3465
2012-03-31,11220,401,8151,1960,13369,5717,8110,14949,11585,1094,...,4053,10392,1416,1578,8021,3000,10039,3252,9662,3609
2012-04-30,10173,631,7703,2117,12672,5270,7279,14142,11231,1043,...,3945,10897,1668,1884,7676,3300,9251,3623,10573,3650
2012-05-31,9045,531,7704,1960,11622,4985,6798,14328,11007,945,...,3984,9266,1335,1787,6261,3339,8720,2877,9219,3238

In [36]:
pd.concat([df, df2], sort=True)

,Albany Park,Altgeld,Archer Heights,Austin,Austin-Irving,Avalon,Back of the Yards,Beverly,Bezazian,Blackstone,...,West Belmont,West Chicago Avenue,West Englewood,West Lawn,West Pullman,West Town,"Whitney M. Young, Jr.",Woodson Regional,Wrightwood-Ashburn,eBooks/Downloadable Media
2011-01-31,8427,1258,8104,1755,12593,5664,5485.0,8049,8875,9351,...,8889,1277,1522,7606,3312,9030,2588,10564,3062,13841
2011-02-28,7023,708,6899,1316,11791,4367,5171.0,7473,7424,7938,...,8470,934,1422,6076,2713,7727,2033,8874,2780,11974
2011-03-31,9702,854,9329,1942,14807,5937,6024.0,9239,10887,10687,...,11577,1961,1878,8552,3495,10450,3099,10948,3334,14228
2011-04-30,9344,804,9124,2200,14382,5980,6592.0,9449,11298,10760,...,11686,2131,1975,8896,3550,10607,3087,9299,3279,14158
2011-05-31,8865,816,7472,2133,11754,5596,5170.0,8299,11739,9879,...,9020,2091,1724,7313,3010,10139,3005,9025,3036,15176
2011-06-30,11650,870,8314,2359,14402,6286,4033.0,10053,15133,11639,...,10337,2068,1819,8150,2968,10410,2911,10020,3801,15154
2011-07-31,11778,713,8116,2080,14605,6184,4832.0,10086,17067,11133,...,11273,1884,1815,5703,3844,10601,3123,10366,4600,15687
2011-08-31,11306,480,9177,2405,15164,6933,3129.0,9595,18348,12428,...,10405,2170,2193,7723,3811,11311,3644,10892,3953,16896
2011-09-30,10466,702,9033,2417,14306,6574,34.0,8439,15412,11102,...,9659,2147,2401,8201,3209,11084,3547,10901,3536,17866
2011-10-31,10997,927,9709,2571,15357,6955,0.0,9610,15517,11781,...,11313,2207,2578,10621,3923,10657,3848,13272,4093,19689
2011-11-30,10567,787,8809,2233,14069,6113,0.0,8749,14860,11179,...,11445,1612,2097,8101,3162,10797,3324,11421,3583,20171
2011-12-31,9934,692,7865,2116,12404,5295,0.0,7578,15243,11005,...,9835,1609,1834,7980,3147,9275,3190,9474,3200,23337
2012-01-31,10173,674,7855,2120,12495,5515,NaN,7375,14238,10487,...,9975,1675,1712,7724,2973,9498,3175,11284,3211,24925
2012-02-29,9737,513,7682,1964,12977,5290,NaN,7477,13819,10675,...,10621,1336,1721,7338,2862,9927,3078,9742,3465,23125
2012-03-31,11220,401,8151,1960,13369,5717,NaN,8110,14949,11585,...,10392,1416,1578,8021,3000,10039,3252,9662,3609,25118
2012-04-30,10173,631,7703,2117,12672,5270,NaN,7279,14142,11231,...,10897,1668,1884,7676,3300,9251,3623,10573,3650,24855
2012-05-31,9045,531,7704,1960,11622,4985,NaN,6798,14328,11007,...,9266,1335,1787,6261,3339,8720,2877,9219,3238,26283
2012-06-30,10014,661,7294,2004,13316,5422,NaN,8735,15243,12791,...,10142,1635,1708,6613,3390,9992,3016,9678,3803,26616
2012-07-31,11196,809,7735,2329,13630,5543,NaN,8791,15999,12979,...,11246,1841,1952,7470,3411,10028,2881,10484,3880,29183
2012-08-31,8373,987,7886,2466,13640,6068,NaN,8108,16184,12364,...,10747,2236,2406,7068,3876,10622,3521,10266,3856,30709
2012-09-30,3261,1346,9076,2686,14050,6257,NaN,7819,15233,12284,...,10438,2700,3096,8123,4303,10365,3809,12255,3829,28286
2012-10-31,74,1451,9679,2738,14362,6737,NaN,7739,15893,11786,...,10970,2847,3031,8898,4613,10740,4036,13241,4029,29385
2012-11-30,15,1030,8793,2311,13429,5344,NaN,6800,14405,10794,...,10404,2155,2390,7284,3903,10394,3600,11320,3181,29707
2012-12-31,16,976,7698,1869,11843,4737,NaN,5670,13423,10363,...,8721,2143,2449,6697,3295,8912,3211,9778,3051,31863

In [53]:
dataframes = []
for year in range(2011, 2020):
    df = pd.read_csv("/home/shared/sp18-is590dv/data/chicago-library-data/libraries-%s-circulation-by-location-1.csv" % year,
                    index_col = "LOCATION")
    df.drop(columns=["ADDRESS", "CITY", "ZIP CODE", "ZIP", "ZIPCODE", "YTD"], errors="ignore", inplace=True)
    df = df.transpose()
    df.rename(lambda a: a.upper(), axis="columns", inplace = True)
    df.set_index(pd.date_range("%s-01-31" % year, "%s-12-31" % year, freq="M"), inplace=True)
    dataframes.append(df)

In [141]:
circulation = pd.concat(dataframes, sort=True)
circulation.index.name = "DATE"
circulation.reset_index(inplace = True)

In [142]:
circulation.to_json("output.json", orient="records", date_format="iso")

In [140]:
(circulation.unstack().
    reset_index().
    rename(columns = {'level_0': 'LOCATION', 0: 'CIRCULATION'}).
    to_json('unstacked_output.json', orient='records'))